name: Rust - Build

on:
  workflow_call:
    inputs:
      package_name:
        description: "Optional package name to build"
        required: false
        type: string
      features:
        description: "Optional list of features to enable (comma separated)"
        required: false
        type: string
      python_version:
        description: "Custom python version to install (optional)"
        required: false
        type: string
        default: ""

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: cocool97/action_templates/.github/actions/rust-setup@main
        with:
          python_version: ${{ inputs.python_version }}

      - uses: actions/checkout@v4

      - uses: cocool97/action_templates/.github/actions/rust-build@main
        with:
          package_name: ${{ inputs.package_name }}
          features: ${{ inputs.features }}
